// Primary color
$primary: #d4af37;

// Background colors
$background-light: #f5f5dc;
$background-dark: #221d10;

// Text colors
$text-light: #333333;
$text-dark: #f5f5dc;

// Subtext colors
$subtext-light: #897f61;
$subtext-dark: #a8a29e;

// Card colors
$card-light: #ffffff;
$card-dark: #3a3323;

// Border colors
$border-light: #e6d3b3;
$border-dark: #524a39;
